body {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("../../public/bk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 4%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.S-title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: white;
}
.S-text {
  font-size: 16px;
  line-height: 20px;
  color: white;
}
.S-input {
  width: 17vw;
  height: 45px;
  background: #224957;
  border-radius: 10px;
  border: none;
  color: white;
}
.S-button {
  background: #20df7f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  color: white;
  height: 45px;
  width: 17vw;
}
.S-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.s-b {
  width: 8vw;
}
.s-forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  width: 17vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #20df7f;
}
.s-s {
  display: flex;
  align-items: center;
  color: white;
}
.s-checkbox {
  height: 25px;
  width: 25px;
}
